<div class = "container" style="border:1px solid #cecece; border-radius:5px; margin-top:60px; width:500px; padding:30px; box-shadow: 1px 3px 4px 1px rgba(230,222,222,0.75);">
<div class="col align-items-center justify-content-center">
    
<h3>VERONICA WEFITSA JUMA</h3>
<h3>SCT222-0395/2017</h3>
<h1>SURVEY ON LAPTOPS</h1>

<%= render 'form', onlinesurvey: @onlinesurvey %>

<%= link_to 'Back', onlinesurveys_path %>
</div>
</div>